<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/js/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/js/bootstrap-3.3.7-dist/js/bootstrap.js"></script>
</head>
<body>
    <h1>添加网点</h1>
    <table class="table table-striped" align="center">

        <tbody>
        <tr>
            <td>网点名称</td>
            <td><input type="text" name=""></td>
            <td>网点电话</td>
            <td><input type="text" name=""></td>
        </tr>
        <tr>
            <td>网点类型</td>
            <td><input type="text" name=""></td>
            <td>网点省份</td>
            <td><input type="text" name=""></td>
        </tr>
        </tbody>
    </table>
</body>
</html>